{{ define "main" }}

<header class="header basicflex-column">
  <h3 class="h3 terms__title">
    {{ .Title }}
  </h3>
  <div class="px py p2 single__contents">
    {{ .Content }}
  </div>
</header>
<main class="main pub inner" data-sidebar-position="{{ $.Param "sidebarPosition" }}">
  {{ if eq .Permalink .FirstSection.Permalink }}
    <section class="pub__section lmr">
      {{ partial "publication/pub-toolbar.html" . }}
      {{ partial "publication/pub-overview.html" . }}
      {{ partial "script/pub-overview-script.html" . }}
    </section>
  {{ else }}
    <section class="pub__section lmr">
      {{ partial "publication/pub-toolbar.html" . }}
      {{ partial "publication/pub-list.html" . }}
      <div class="grow"></div>
      {{ partial "pagination/pagination.html" . }}
    </section>
  {{ end }}

  {{ partial "script/pub-list-script.html" . }}
  <div class="hide">
    {{ partial "search/site-search.html" . }}
  </div>
</main>
{{ end }}