{{ if $.Param "enableComment" }}
  {{ if $.Param "disqus_shortname" }}
    {{ partial "comments/disqus.html.html" . }}
  {{ else if $.Param "commento" }}
    {{ partial "comments/commento.html.html" . }}
  {{ else if $.Param "valine.enable" }}
    {{ partial "comments/valine.html.html" . }}
  {{ else if $.Param "changyan.changyanAppid" }}
    {{ partial "comments/changyan.html.html" . }}
  {{ else if $.Param "livere.livereUID" }}
    {{ partial "comments/livere.html.html" . }}
  {{ else if $.Param "gitment.owner" }}
    {{ partial "comments/gitment.html.html" . }}
  {{ else if $.Param "gitalk.owner" }}
    {{ partial "comments/gitalk.html.html" . }}
  {{ else if $.Param "utterances.owner" }}
    {{ partial "comments/utterances.html.html" . }}
  {{ else if $.Param "isso.enable" }}
    {{ partial "comments/isso.html.html" . }}
  {{ else if $.Param "telegram.enable" }}
    {{ partial "comments/telegram.html.html" . }}
  {{ end }}
{{ end }}