{{ $container := (.Get "container") }}

<!-- https://aplayer.js.org/#/zh-Hans/?id=%E5%85%A5%E9%97%A8 -->

<div class="aplayer-container">{{ .Inner }}</div>


<script>
    function loadAPlayer() {
        const ap = new APlayer({
            container: document.getElementById({{ $container }}),
            loop: {{ .Get "loop" | default false }},
            mutex: true,
            theme: '#e9e9e9',
            lrcType: 3,
            audio: [{
                name: {{ .Get "name" | default "name" }},
                artist: {{ .Get "artist" | default "artist" }},
                url: {{ .Get "url" }},
                cover: {{ .Get "cover" | default "" }},
                lrc: {{ .Get "lrc" | default "" }},
            }]
    });
}

    document.addEventListener('DOMContentLoaded', loadAPlayer, !1);
</script>